@page "/C4Editor"
@using LocalEdit.C4Types
@using Blazorise
@using Blazorise.DataGrid
@using MermaidJS.Blazor

<h1>C4 Editor</h1> 
<hr/>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@NewC4Document">
    <Icon Name="IconName.Star" />
    New C4 Model
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadFile">
    <Icon Name="IconName.FileUpload" />
    Load
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@SaveFile">
    <Icon Name="IconName.FileDownload" />
    Save
</Button>

    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportFile">
        <Icon Name="IconName.ArrowRight" />
        Export Markdown Snippet
    </Button>
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportHtml">
        <Icon Name="IconName.ArrowRight" />
        Export HTML
    </Button>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="general">General</Tab>
        <Tab Name="model">Model</Tab>
        <Tab Name="relations">Relations</Tab>
        <Tab Name="preview">Preview</Tab>
    </Items>
    <Content>
        <TabPanel Name="general"  Border="Border.Primary">
</TabPanel>
        <TabPanel Name="model"  Border="Border.Primary">
<Button Size="Size.Small" Color="Color.Primary" Clicked="@AddNewItem">
    <Icon Name="IconName.Add" />
    New
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@AddNewChildItem">
    <Icon Name="IconName.Add" />
    New Child
</Button>

@if (SelectedNode == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}
@if (SelectedNode != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ShowItemModal">
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}

@if (SelectedNode == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}
@if (SelectedNode != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@DeleteItem">
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}
    <Button Size="Size.Small" Color="Color.Secondary" Clicked="() => ShowNewItemModal(parentNode)">Add</Button>
    <Button Size="Size.Small" Color="Color.Secondary" Clicked="() => ShowNewItemModal(SelectedNode)">Add Child</Button>

    <TreeView Nodes="Document.Model"
          GetChildNodes="@(item => item.Children)"
          HasChildNodes="@(item => item.Children?.Any() == true)"
          @bind-SelectedNode="SelectedNode"
        >
        <NodeContent>@context.Text</NodeContent>
   </TreeView>

@*          SelectedNodeChanged="@((C4Item item) => SelChanged(item))" *@

</TabPanel>
        <TabPanel Name="relations"  Border="Border.Primary">
<Button Size="Size.Small" Color="Color.Primary" Clicked="@AddNewRelationship">
    <Icon Name="IconName.Add" />
    New
</Button>
@if (selectedRelationshipRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}
@if (selectedRelationshipRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ShowRelationshipModal">
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}

@if (selectedRelationshipRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}
@if (selectedRelationshipRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@DeleteRelationship">
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}

            <DataGrid TItem="C4Relationship"
          Data="@Document.Relationships"
          @bind-SelectedRow="@selectedRelationshipRow"
          Responsive>
          <DataGridColumns>
    <DataGridColumn Field="@nameof( C4Relationship.From )" Editable="false">
        <DisplayTemplate>
            @{
                string fromCode = ( context as C4Relationship )?.From;
                string toCode = ( context as C4Relationship )?.To;

                    if (fromCode != null)
                    {
                        @($"{DecodeFlowId(fromCode)}") <NBSP/> <Icon Name="IconName.ArrowRight"/> <NBSP/> @($"{DecodeFlowId(toCode)}")
                        <br />
                        <span style="padding-left:2em">@($"{context.Technology}")</span>
                    }
                //if ( date != null )
                //{
                //    @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
                //}
            }
        </DisplayTemplate>
    </DataGridColumn>
    </DataGridColumns>
    <EmptyTemplate>
        <div class="box">
            No relations were found!
        </div>
    </EmptyTemplate>
</DataGrid>

</TabPanel>
        <TabPanel Name="preview"  Border="Border.Primary">
@*        <MemoEdit @bind-Text="@testVal" />
*@
        <h1>Context</h1>
        <Mermaid Id="output1" @ref="MermaidOne"></Mermaid>
        <h1>Container</h1>
        <Mermaid Id="output2" @ref="MermaidTwo"></Mermaid>
        <h1>Component</h1>
        <Mermaid Id="output3" @ref="MermaidThree"></Mermaid>

@*            <StardustDL.RazorComponents.Markdown.MarkdownRenderer @ref="markdownRef"
                                                                  Value="@MarkdownText"
                                                                  Class="your class"
                                                                  Style="your styles" />
*@

        @*<MermaidDiagram Definition="@diagramDefinition" OnClick="OnClickNode" />*@

@*            <MermaidDiagram Definition="@diagramOneDefinition" />
            <MermaidDiagram Definition="@diagramTwoDefinition" />
            <MermaidDiagram Definition="@diagramThreeDefinition" />
*@
@*        <Mermaid @ref="mermaidOne"/>
        <Mermaid @ref="mermaidTwo"></Mermaid>
        <Mermaid @ref="mermaidThree"></Mermaid>
*@
            @*<StardustDL.RazorComponents.Markdown.MarkdownRenderer
    @ref="markdownRef"
    Value="@MarkdownText"
    Class="your class"
    Style="your styles"
    />
*@

</TabPanel>
    </Content>
</Tabs>


<LocalEdit.Modals.C4ItemEditModal @ref="c4ItemModalRef" Closed="@OnC4ItemModalClosed"></LocalEdit.Modals.C4ItemEditModal>

<LocalEdit.Modals.C4RelationshipModal @ref="c4RelationshipModalRef" Items="@Document.Model" Closed="@OnC4RelationshipModalClosed"></LocalEdit.Modals.C4RelationshipModal>

<LocalEdit.Modals.FileManagementModal  @ref="fileManagementModalRef" Closed="@OnFileManagementModalClosed"></LocalEdit.Modals.FileManagementModal>
