@page "/FlowEditor"
@using Blazorise.Components
@using Blazorise.DataGrid
@using LocalEdit.C4Types
@using Blazorise
@using Blazorise.Extensions;
@using LocalEdit.FlowTypes
<h3>Flow Editor</h3>

@*<Button Size="Size.Small" Color="Color.Primary" Clicked="@NewPlan">
    <Icon Name="IconName.Star" />
    New Plan
</Button>
*@
<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadFile">
    <Icon Name="IconName.FileUpload" />
    Load
</Button>
<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadLpeFile">
    <Icon Name="IconName.FileUpload" />
    Load LPE
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@SaveFile">
    <Icon Name="IconName.FileDownload" />
    Save
</Button>

@*    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportFile">
        <Icon Name="IconName.ArrowRight" />
        Export Markdown Snippet
    </Button>
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportHtml">
        <Icon Name="IconName.ArrowRight" />
        Export HTML
    </Button>
*@
<button class="btn btn-primary" @onclick="LoadFile">Load</button>
<button class="btn btn-primary" @onclick="SaveFile">Save</button>

@*</Div>*@

@*<ListView @ref="fiList" TItem="FlowItem"
          Data="FlowItems"
          TextField="(item) => item.Label"
          ValueField="(item) => item.ID"
          Mode="ListGroupMode.Selectable"
          Color="Color.Default"
          MaxHeight="300px"
          SelectedItem="selectedItem"
>
</ListView>
*@

<DataGrid TItem="FlowItem"
          Data="@Document.Items"
          @bind-SelectedRow="@selectedItemRow"
          Responsive>
    <DataGridColumn Field="@nameof( FlowItem.Label )" Editable="false"></DataGridColumn>
</DataGrid>

@*<Button Size="Size.Small" Color="Color.Secondary" Clicked="() => ShowNewItemModal(parentNode)">Add</Button>*@
<Button Size="Size.Small" Color="Color.Secondary" Clicked="@AddNewItem">Add</Button>
<Button Size="Size.Small" Color="Color.Info" Clicked="@ShowItemModal">Edit</Button>
<Button Size="Size.Small" Color="Color.Info" Clicked="@DeleteItem">Delete</Button>
<br />

<DataGrid TItem="FlowRelationship"
          Data="@Document.Relationships"
          @bind-SelectedRow="@selectedRelationshipRow"
          Responsive>
          <DataGridColumns>
    <DataGridColumn Field="@nameof( FlowRelationship.From )" Editable="false">
        <DisplayTemplate>
            @{
                string fromCode = ( context as FlowRelationship )?.From;
                string toCode = ( context as FlowRelationship )?.To;

                    if (fromCode != null)
                    {
                        @($"{DecodeFlowId(fromCode)}") <NBSP/> <Icon Name="IconName.ArrowRight"/> <NBSP/> @($"{DecodeFlowId(toCode)}")
                        <br />
                        <span style="padding-left:2em">@($"{context.Label}")</span>
                    }
                //if ( date != null )
                //{
                //    @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
                //}
            }
        </DisplayTemplate>
    </DataGridColumn>
    </DataGridColumns>
    <EmptyTemplate>
        <div class="box">
            No relations were found!
        </div>
    </EmptyTemplate>
</DataGrid>

@*<Button Size="Size.Small" Color="Color.Secondary" Clicked="() => ShowNewItemModal(parentNode)">Add</Button>*@
<Button Size="Size.Small" Color="Color.Secondary" Clicked="@AddNewRelationship">Add</Button>
<Button Size="Size.Small" Color="Color.Info" Clicked="@ShowRelationshipModal">Edit</Button>
<Button Size="Size.Small" Color="Color.Info" Clicked="@DeleteRelationship">Delete</Button>
<br />

<button class="btn btn-primary" @onclick="GenerateMarkdown">Generate</button>



<div>
    <textarea @bind="MarkdownText" @bind:event="oninput" style="width:100%;"/>
</div>

<StardustDL.RazorComponents.Markdown.MarkdownRenderer
    @ref="markdownRef"
    Value="@MarkdownText"
    Class="your class"
    Style="your styles"
    />

@*
<StardustDL.RazorComponents.Markdown.MarkdownRenderer
    Value="@MarkdownText"
    Class="your class"
    Style="your styles"
    RenderInterval="@TimeSpan.FromSeconds(10)"/>
*@

<LocalEdit.Modals.FlowItemModal @ref="flowItemModalRef" Closed="@OnFlowItemModalClosed"></LocalEdit.Modals.FlowItemModal>

<LocalEdit.Modals.FlowRelationshipModal @ref="flowRelationshipModalRef" Items="@Document.Items" Closed="@OnFlowRelationshipModalClosed"></LocalEdit.Modals.FlowRelationshipModal>

<LocalEdit.Modals.FileManagementModal  @ref="fileManagementModalRef" Closed="@OnFileManagementModalClosed"></LocalEdit.Modals.FileManagementModal>
