@page "/MarkdownEditor"
<h3>Markdown Editor</h3>
<hr/>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@NewMdDocument">
    <Icon Name="IconName.Star" />
    New Document
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadFile">
    <Icon Name="IconName.FileUpload" />
    Load
</Button>
<Button Size="Size.Small" Color="Color.Primary" Clicked="@SaveFile">
    <Icon Name="IconName.FileDownload" />
    Save
</Button>

<Markdown Value="@markdownValue" ValueChanged="@OnMarkdownValueChanged" />

<LocalEdit.Modals.FileManagementModal  @ref="fileManagementModalRef" Closed="@OnFileManagementModalClosed"></LocalEdit.Modals.FileManagementModal>
 

